kind: Deployment
apiVersion: apps/v1
metadata:
 name: nfs-client-provisioner-pod
 namespace: nfs
spec:
 replicas: 1
 strategy:
   type: Recreate
 selector:
   matchLabels:
     app: nfs-client-provisioner
 template:
   metadata:
     labels:
       app: nfs-client-provisioner
   spec:
     serviceAccountName: nfs-client-provisioner
     containers:
       - name: nfs-client-provisioner
         image: quay.io/external_storage/nfs-client-provisioner:latest
         volumeMounts:
           - name: nfs-client-root
             mountPath: /persistentvolumes
         env:
           - name: PROVISIONER_NAME
             value: example.com/nfs
           - name: NFS_SERVER
             value: {{nfs_ip}}
           - name: NFS_PATH
             value: {{nfs_dir}}
     volumes:
       - name: nfs-client-root
         nfs:
           server: {{nfs_ip}}
           path: {{nfs_dir}}